.app-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    overflow: hidden;
    /* hide overflow */
    white-space: nowrap;
    /* prevent wrapping */
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    /* start outside the view */
    animation: marquee 10s linear infinite;
    /* scroll continuously */
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}